<div id="email_container">

	<div style="width:550px; padding:20px; background:#fff; margin:70px auto;
		moz-border-radius:5px; -webkit-border-radus:5px; border-radius:5px; color:#454545;line-height:1.5em; " id="email_content">

		<h1 style="padding:5px 0 0 0; font-family:georgia;font-weight:500;font-size:24px;color:#000">
			Dear OK Go Fan
		</h1>

		<p>
			Thank you for subscribing to our newsletter. As promised, here is a free song for you:
			<a href="[signed_link]"/> Download Link</a>. This link will only work for another 24 hours, so
			make sure that you download the file soon.
		</p>

		<p style="">
			Warm Regards,<br>
			OK Go
		</p>

	</div>
</div>
